main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 40px 0;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}


.profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid rgba(136, 64, 199, 0.29);
  box-shadow: 0 0 0 5px rgba(106, 4, 94, 0.5);
  transition: transform 0.3s ease-in-out;
}


.profile-avatar:hover {
  transform: rotate(360deg);
}


.header h1 {
  font-size: 24px;
  margin: 0;
}


.header h2,
.header h3 {
  font-size: 18px;
  margin: 5px 0;
  color: white;
}

h2{
  background-color: #2f1d5a;
  color: white;
}

.background-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.food-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 20px; 
  text-align: center;
  margin: 20px;
  border-radius: 10px;
}


.food-card {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(151, 30, 211, 0.575);
  margin-bottom: 20px;
  position: relative;
}


.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px; 
}


button {
  width: auto;
  padding: 5px 10px;
  background-color: rgb(87, 4, 87);
  border: 1px solid #2f1d5a;
  color: #2f1d5a;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0; 
  color: white;
  height: 40px;
}


button:hover {
  background-color: #2f1d5a;
  color: white;
}

.buttons-background{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.food-info#food-name {
  font-size: 20px;
  font-weight: bold;
}


.food-info {
  font-size: 16px;
  margin-top: 5px;
  color: rgb(243, 237, 237);
  text-align: center;
}


.food-reaction {
  font-size: 16px;
  margin-top: 10px;
}

#food-reaction p {
  color: rgb(245, 235, 235);
}

a {
  color: white;
  font-weight: 700;
}


