.layout {
  background-color: rgb(10, 109, 96);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center ;
  background-color: linear;
  background-color: #3d044d;
  color: rgb(255, 253, 253);
  width: 100%;
  box-shadow: rgba(213, 61, 237, 0.8) 0px 10px 40px, rgba(0, 0, 0, 0.6) 0px 5px 15px; /* Change the box shadow color when hovering */
}

.body-newFoods {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.body-allFoods {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  background-color: rgba(141, 223, 175, 0.356);
  width: 1600px;
}

.body-sortedFoods {
  display: flex;
  flex-direction: row;
}

.food-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(247, 242, 242);
  font-size: 40px;
}

.food-h1:hover{
  opacity: 0.8; /* Adjust opacity as needed */
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 5px 5px 10px #df156dca;
  background-image: linear-gradient(45deg, rgba(103, 39, 171, 0.8) 50%, rgba(158, 94, 214, 0.8) -50%, rgba(118, 17, 189, 0.8) 50%, rgba(172, 7, 205, 0.8) 100%);
}
.food-h2 { 
  display: flex;
  justify-content: center;
  margin: 20px;
  color: white;
  font-size: 30px;
  text-shadow: 1px 1px 2px black;
}
.food-h3 { 
  display: flex;
  justify-content: center;
  margin: 20px 20px 20px 0;
  color: white;
}

.food-ps {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 30px;
}

#newFood-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}



.form-divs-btns{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 62px;
  margin: 10px 0px 20px 0px;
}

/* .form-divs-btns > button{

  min-width: 120px;
  min-height: 40px;
  font-size: 18px;
  background-color: black;
  color: white;
  font-weight: 700;
} */


/* add food CSS button */
.form-divs-btns > button{
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.form-divs-btns > button:after,
.form-divs-btns > button:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.form-divs-btns > button:before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #0e0e10;
  border-radius: 10px;
}

.form-divs-btns > button:after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.form-divs-btns > button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.form-divs-btns > button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.form-divs-btns > button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.form-labels{
  width: fit-content;
  font-size: 20px;
  padding: 0 100px 0 100px;
  text-align: center;
  font-weight: 700;
  text-shadow:1px 1px 2px black;
  letter-spacing: 1px;
}

.form-input, #food-name-input, #food-cat-input, #vitamin-input {
  margin: 0 30px 0 30px;
  min-width: 230px;
  font-size: 20px;
  text-align: center;

}

/* .edit-btn {

} */


input{
  min-height: 40px;
}

.food-details-header{
  background-color: rgba(0, 0, 0, 0.353);
  min-width: 85%;
  min-height: 80px;

}
#layout-food-details-header{
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
}

#layout-body-allFoods{
  display: flex;
  gap: 0px;
  justify-content: center;
  
}


.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  margin: 20px 5px 20px 5px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 15px;
  height: 200px;
  width: 250px; 
  /* flex-basis: calc(25% - 60px); */
  background: (from 90deg at 40% -25%);
  background-color: #aee2e4;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  /* border: 2px solid #423d3d; */
}


.card .text {
  padding: 8px 20px 20px;
  text-align: center;
  font-size: 18px;
  color: black;
}


.cardImg {
  background-image: url('../images/greenCloth.svg');
  max-width: 250px;
  height: 80px;
  }

#trash-btn{
  background: #bfc4e1;
  text-align: center;
  color: white;
  padding: 10px;
  width:48px;
  font-size: 14px;
  border-radius: 50%;
  border: 2px solid rgb(174, 150, 187);
  box-shadow: rgba(30, 3, 38, 0.4) 0px 2px 4px, rgba(92, 6, 58, 0.527) 0px 7px 13px -3px, rgba(118, 10, 173, 0.2) 0px -3px 0px inset;
}