.layout {
  background-color: rgb(10, 109, 96);
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center ;
  background-color: #bfc4e1;
  color: black;
  width: 100%;
}

.body-newFoods {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.body-allFoods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
  background-color: rgba(141, 223, 175, 0.356);
  width: 1600px;
}



.body-sortedFoods {
  display: flex;
  flex-direction: row;
}

.food-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 40px;
}

.food-h2 { 
  display: flex;
  justify-content: center;
  margin: 20px;
  color: white;
  font-size: 30px;
  text-shadow: 1px 1px 2px black;
}
.food-h3 { 
  display: flex;
  justify-content: center;
  margin: 20px;
  color: white;
}

.food-ps {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 30px;
}

#newFood-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}



.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.card{
  flex: 0 0 200px;
  margin: 10px;
  border: 2px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  background-color: #aee2e4;
  min-height: 200px;
  min-width: 250px;
  margin: 30px;
}



.card .text {
  padding: 0 20px 20px;
  text-align: center;
  font-size: 18px;
}

.card .text > button {
  background: #bfc4e1;
  border: 0;
  color: white;
  padding: 10px;
  width: 50%;
  text-align: center;
  }


#trash-btn{
  font-size: 30px;
}
.cardImg {
  background-image: url('../images/greenCloth.svg');
  max-width: 250px;
  height: 80px;
  }

.form-divs-btns{
  display: flex;
  justify-content: center;
  padding: 15px;
  height: 62px;
}

.form-divs-btns > button{

  min-width: 120px;
  min-height: 40px;
  font-size: 18px;
  background-color: black;
  color: white;
  font-weight: 700;
}

.form-labels{
  width: fit-content;
  font-size: 20px;
  padding: 0 100px 0 100px;
  text-align: center;
  font-weight: 700;
  text-shadow:1px 1px 2px black;
  letter-spacing: 1px;
}

.form-input, #food-name-input, #food-cat-input, #vitamin-input {
  margin: 0 30px 0 30px;
  min-width: 230px;
  font-size: 20px;
  text-align: center;

}

/* .edit-btn {

} */
.foods-card-form{
display: flex;
padding: 15px;
}

input{
  min-height: 40px;
}