/* editfood.css */

.layout {
  background-color: #4F4789;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.header {
  width: 100%;
  background-color: #201f1f;
  color: #ffffff;
  text-align: center;
  box-shadow: 0px -3px 3px 0px rgb(134, 56, 129), 0px -6px 3px 0px rgb(114, 29, 66), 0px -12px 9px 0px rgba(122, 5, 55, 1);
  margin: 0px 0 15px 0;
  padding-bottom: 40px;
}

.food-h1s {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 40px;
}

.add-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  margin-top: 20px;
}

.food-h4 {
  color: salmon;
  font-size: 18px;
  margin: 10px;
}

.add-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #09023f;
  text-align: center;
  min-height: 100vh;
}

.add-reaction {
  width: 600px;
  max-width: 90%;
  position: relative;
  padding: 20px;
  background-color: rgba(235, 225, 247, 0.204);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  padding: 20px 0 20px 0;
}

textarea {
  margin-bottom: 30px;
}

label {
  margin-top: 15px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  text-shadow: 2px 1.5px 2.5px rgba(51, 47, 47, 0.854);
}

.input-labels {
  width: 400px;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 0 0 0 40px;
}

.inputbottom {
  margin-bottom: 20px;
}

h2 {
  align-items: flex-start;
  text-align: center;
  background-color: #09023f;
  padding: 20px 0 20px 0;
  margin: auto;
}

/* Add styles for the .body-newFoods, .body-allFoods, and other sections here */

.food-info {
  align-items: center;
}

.header, .food-info label{
  align-items: center;
}

.food-details-header{
  width: 400px;
}

.food-entry{
width: auto;
}