/* Dark theme with pops of color */
.layout {
  background-color: #000; /* Black background color */
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center; /* Center content vertically */
}

.header {
  width: 100%;
  background-color: #201f1f; /* Black background color */
  color: #ffffff; /* White text on black background */
  text-align: center;
  box-shadow: 0px -3px 3px 0px rgb(134, 56, 129), 0px -6px 3px 0px rgb(114, 29, 66), 0px -12px 9px 0px rgba(122, 5, 55, 1); /* Thinner shadow with fully opaque pink color */
  margin-top: 20px;
  padding-bottom: 30px;
  padding-top: 18px;
}

.header h1 {
  font-size: 40px;
  color: #ca81d6; /* Pop of color */
  text-shadow: 1px 1px 5px #7a0537ca;
}

.user {
  width: 100%;
  color: #ffffff; /* White text */
  text-align: center;
}

.content-container {
  display: flex;
  flex-direction: row; /* Layout in a row */
  justify-content: space-between; /* Space columns evenly */
  align-items: flex-start;
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto; /* Center horizontally by setting left and right margins to auto */
  padding: 20px;
}

.left-column {
  flex: 1; /* Expand to fill available space */
  margin-right: 20px; /* Add some spacing between columns */
  color: #ffffff; /* White text */
  max-width: 600px; /* Limit max width for responsiveness */
  text-align: center; /* Center the text */
}

.right-column {
  flex: 1; /* Expand to fill available space */
  color: #ffffff; /* White text */
  max-width: 600px; /* Limit max width for responsiveness */
  text-align: center; /* Center the text */
}

/* Center the text within app-description and app-features */
.app-description, .app-features {
  text-align: center;
}

/* Reduce the width of app-features */
.app-features {
  max-width: 800px; /* Adjust as needed */
}

.app-features ul {
  list-style: none; /* Remove default list-style */
  padding-left: 0; /* Remove left padding */
}

p {
  margin: 30px;
  padding: 40px;
  font-size: 18px;
  text-align: center;
}

h2 {
  text-align: center;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

.app-creator {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center text within .app-creator */
}

.linkedin {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0; /* Adjusted color to match the desired style */
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.linkedin::after,
.linkedin::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.linkedin::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.linkedin::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.linkedin:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.linkedin:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.linkedin:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}